body {
    font-family: Arial, sans-serif;
    background-image: url("images/bkgrundbild.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.996);
    color: rgb(248, 248, 248);
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(246, 210, 6);
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p {
    margin: 0;
}